@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #3C3B3A;
    width: 100%;
    text-align: center;
}

ul li {
    line-height: 2.5rem;
}

li a {
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.logo {
    width: 70px;
    height: auto;
}