@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #3C3B3A;
    width: 100%;
    text-align: center;
}

ul li {
    line-height: 2.5rem;
}

li a {
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.logo {
    width: 70px;
    height: auto;
}

.container {
    margin: 2rem;
    display: grid;
}

.head-1 {
    font-family: 'Raleway', sans-serif;
    width: 80%;
}

.para-1 {
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    width: 90%;
}

figcaption {
    font-family: 'Raleway', sans-serif;
    color: #26A682;
    font-size: 12px;
}

.button-1 {
    width: 200px;
    font-weight: bold;
    height: auto;
    border-radius: 30px;
    border: 0px solid #707070;
    font-size: 20px;
    box-shadow: #3C3B3A;
    background-color: #26A682;
    font-family: 'Raleway', sans-serif;
    color: white;
    padding: 5px;
}

.figure {
    display: grid;
    grid-template-columns: 1fr 70px;
    grid-template-rows: 1fr 1fr;
    padding-left: 1rem;
    margin-top: 1rem;
    
}

.icon-1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.icon-2 {
    grid-row: 1/2;
}

.icon-3 {
    
}

.icon-3 {
    grid-column: 1/2;
}